<div class="html_panel">
    <button type="button" id="p">Add paragraph</button>
    <button type="button" id="span">Add span</button>
    <button type="button" id="code">Add code</button>
    <button type="button" id="strong">Add strong</button>
    <button type="button" id="a">Add link</button>
    <button type="button" id="blockquote">Add blockquote</button>
    <button type="button" id="ol">Add ordered list</button>
    <button type="button" id="ul">Add unordered list</button>
    <button type="button" id="li">Add list point</button>
</div>
