<% if user_signed_in? %>
  Hello there <strong><%= current_user.email %></strong>.
  Want to add <a class="text-center" href="/articles/new">new article</a>,
  or <%= link_to "logout", destroy_user_session_path, method: :delete %> ?
<% else %>
  Hello there guest,
  want to <%#= link_to "sign up", new_user_registration_path %> <%= link_to "login", new_user_session_path  %>?
<% end %>
