<h1>My blog</h1>

<% @articles.each do |a| %>
<article>
  <h2> <%= link_to a.title, article_path(a.id) ,method: :get  %> </h2>
  <p> Created:<%= a.created_at %>, Last updated: <%= a.updated_at %> </p>
</article>
<% end %>

<a href="/articles/new">New article</a>
