<h1>My blog</h1>

<% @articles.each do |a| %>
<article>
  <h2> <%= a.title   %> </h2>
  <p>  <%= a.context %> </p>
  <p>
    <a href="/articles/<%= a.id %>/edit" title="edit this article"> Edit this article </a>
    , or
   <%= link_to 'Delete Posting',  article_path(a.id) , method: :delete %> 
  </p>
</article>
<% end %>

<a href="/articles/new">New article</a>
