// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.breakline
{
    border-bottom: 1px ridge #FFFFFF;
    margin-bottom: 1rem;
}

.category
{
    .help
    {
        h3
        {
            display: inline-block;
            margin-bottom: 0;
        }
    }
    .button
    {
        margin-bottom: 8px;
    }
}

.label_view *
{
    margin: 5px;
}

.previous_page
{
    margin-right:0.5rem;
}
.pagination .current
{
    padding:1rem;
}

.context
{
    padding-left:2rem;
}

#articles_modal a.button[data-method="delete"]
{
    background-color: #C8102E;
}

#articles_index main ul li
{
    padding-bottom:12px;
    margin-bottom: 12px;
    border-bottom:1px dashed #FFFFFF;
}

@media (min-width:700px)
{   // RWD service
    #articles_index ul li span
    {
        padding:1rem;
        br
        {
            display:none;
        }
    }
    article .article_context{ padding-left: 2rem; }
}