<main>
    <% if user_signed_in? %>
        <p class="text-center"> Hello <strong><%= current_user.email %></strong>. Want to add <a class="text-center" href="/articles/new">new article</a>? </p>
    <% end %>
    <div id="tags_breakline"></div>
    <div id="render_view"></div>
</main>

<div id="articles_modal" class="modal-box hide">
    <div class="modal">
        <span class="close"></span>
        <div class="modal-header">UI Modal</div>
        <div class="modal-body">
        </div>
    </div>
</div>

<div id="action_modal" class="modal-box hide">
    <div class="modal">
        <span class="close"></span>
        <div class="modal-header">Tags action</div>
        <div class="modal-body">
        </div>
    </div>
</div>